@import "tailwindcss";

@theme {
  --color-blue-400: oklch(71.5% 0.166 251.813);
  --color-blue-500: oklch(62.3% 0.214 259.815);
  --color-blue-600: oklch(54.6% 0.245 262.881);

  --color-purple-400: oklch(70.7% 0.165 305.504);
  --color-purple-500: oklch(64.7% 0.222 305.504);
  --color-purple-600: oklch(58.7% 0.243 305.504);

  --color-gray-900: oklch(21% 0.006 285.823);
  --color-gray-800: oklch(25.8% 0.016 285.885);
  --color-gray-700: oklch(38.5% 0.029 285.805);
  --color-gray-600: oklch(44.6% 0.03 285.786);
}

@source "./**/*.{js,jsx,ts,tsx}";
